{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Users list'|trans }}{% endblock %}
{% block body %}
    <nav class="nav">
        <a class="nav-link" href="{{ path('app_admin_user_create') }}">{{ 'Create new user'|trans }}</a>
    </nav>

    {% if items is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'First name'|trans }}</th>
                    <th scope="col">{{ 'Last name'|trans }}</th>
                    <th scope="col">{{ 'Options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.surname }}</td>
                        <td>
                            <div class="btn-group pull-right" role="group">
                                <a href="{{ path('app_admin_user_read', {id:item.id}) }}" class="btn btn-primary">{{ 'Read'|trans }}</a>
                                <a href="{{ path('app_admin_user_update', {id:item.id}) }}" class="btn btn-secondary">{{ 'Update'|trans }}</a>
                                <a href="{{ path('app_admin_user_delete', {id:item.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-primary" role="alert">
            {{ 'There are no users'|trans }}
        </div>
    {% endif %}
{% endblock %}
