{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Read %user% user'|trans({'%user%': item}) }}{% endblock %}
{% block body %}
<ul>
   <li>
       {{ 'Phone'|trans }}: {{ item.phone }}
   </li>
   <li>
       {{ 'Address'|trans }}: {{ item.address }}
   </li>
</ul>
{% endblock %}
