{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Articles list'|trans }}{% endblock %}
{% block body %}
    <nav class="nav">
        <a class="nav-link" href="{{ path('app_admin_article_create') }}">{{ 'Create new article'|trans }}</a>
    </nav>

    {% if items is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'Title'|trans }}</th>
                    <th scope="col">{{ 'Author'|trans }}</th>
                    <th scope="col">{{ 'Date'|trans }}</th>
                    <th scope="col">{{ 'Options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.author }}</td>
                        <td>{{ item.date|date }}</td>
                        <td>
                            <div class="btn-group pull-right" role="group">
                                <a href="{{ path('app_admin_article_read', {id:item.id}) }}" class="btn btn-primary">{{ 'Read'|trans }}</a>
                                <a href="{{ path('app_admin_article_update', {id:item.id}) }}" class="btn btn-secondary">{{ 'Update'|trans }}</a>
                                <a href="{{ path('app_admin_article_delete', {id:item.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-primary" role="alert">
            {{ 'There are no articles'|trans }}
        </div>
    {% endif %}
{% endblock %}
